@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
p {font-family: 'Indie Flower', cursive;
color: black;
}
body{background-color:blue;}
h1{
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
